<div class="page-header">
  <div class="pull-right">
    <%= link_to "&larr; Back".html_safe, bsm_oa_role_path(@parent), class: 'btn btn-lg btn-default'%>
  </div>
  <h1>New Authorization</h1>
</div>

<%= simple_form_for [@parent, @authorization], url: bsm_oa_role_bsm_oa_authorizations_url do |f| %>
  <%= f.association :application, as: :select, collection: BsmOa::Application.ordered, prompt: true %>
  <%= f.button :submit %>
<% end %>
