<div class="page-header">
  <div class="pull-right">
    <%= link_to "&larr; Back".html_safe, bsm_oa_roles_path, class: 'btn btn-lg btn-default'%>
  </div>
  <h1>New Role</h1>
</div>

<%= form_for @role, url: bsm_oa_roles_path do |f| %>
  <%= render 'inputs', f: f %>
<% end %>
