<div class="page-header">
  <div class="pull-right">
    <%= link_to "&larr; Back".html_safe, oauth_applications_path, class: 'btn btn-lg btn-default'%>
  </div>
  <h1>New Application</h1>
</div>

<%= simple_form_for @application, url: oauth_applications_url do |f| %>
  <%= render 'inputs', f: f %>
<% end %>
